{% extends 'base.html' %} {% block content %}
<!-- Test the inclusion -->
{% include 'staff/components/appbar.html' %}

<!-- Sidebar -->
{% include 'staff/components/drawer.html' %}

<!-- Main content -->
<div class="container-fluid mt-4" style="padding-top: 70px">
  <div class="container py-4">
    <!-- Dashboard Cards -->
    {% include 'staff/components/dashboardcards.html' %}

    <!-- Recent Transactions Table -->
    {% include 'staff/components/recenttransactionstable.html' %}

    <!-- Booking Requests Table -->
    {% include 'staff/components/bookingrequeststable.html' %}

    <!-- User Summary Table -->
    {% include 'staff/components/usersummarytable.html' %}

    <div class="row mt-4">
      <div class="col-md-6 mb-3">
        {% include 'staff/components/borrowedtrends.html' %}
      </div>
      <div class="col-md-3 mb-3">
        {% include 'staff/components/bookavailability.html' %}
      </div>
      <div class="col-md-3 mb-3">
        {% include 'staff/components/recentactivityfeed.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
