<div
  id="sidebar"
  class="position-fixed top-0 start-0 bg-white shadow h-100 px-3 py-4"
  style="
    width: 250px;
    z-index: 1050;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  "
>
  <!-- Menu button for toggling the sidebar -->
  <div class="d-flex justify-content-center align-items-center mb-3">
    <button
      class="btn btn-light border-0 d-flex justify-content-center align-items-center"
      onclick="toggleSidebar()"
      id="menuToggleBtn"
      style="
        width: 40px;
        height: 40px;
        font-size: 30px;
        transform: rotate(180deg);
      "
    >
      <i id="menuIcon" class="bi bi-arrow-right" style="font-size: 30px"></i>
    </button>
  </div>

  <!-- Sidebar menu items -->
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a
        href="{% url 'user_home' %}"
        class="nav-link text-dark"
        style="font-size: 18px"
      >
        <i
          class="bi bi-journal-bookmark"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        My Bookshelf
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        href="{% url 'user_booking' %}"
        class="nav-link text-dark"
        style="font-size: 18px"
      >
        <i
          class="bi bi-clock-history"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        Borrowing History
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        href="{% url 'user_library' %}"
        class="nav-link text-dark"
        style="font-size: 18px"
      >
        <i
          class="bi bi-bookshelf"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        Library
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        href="{% url 'logout_user' %}"
        class="nav-link text-dark"
        style="font-size: 18px"
      >
        <i
          class="bi bi-box-arrow-left"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        Log Out
      </a>
    </li>
  </ul>
</div>
