<div
  id="sidebar"
  class="position-fixed top-0 start-0 bg-white shadow h-100 px-3 py-4"
  style="
    width: 250px;
    z-index: 1050;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  "
>
  <!-- Menu button for toggling the sidebar -->
  <div class="d-flex justify-content-center align-items-center mb-3">
    <button
      class="btn btn-light border-0 d-flex justify-content-center align-items-center"
      onclick="toggleSidebar()"
      id="menuToggleBtn"
      style="
        width: 40px;
        height: 40px;
        font-size: 30px;
        transform: rotate(180deg);
      "
    >
      <i id="menuIcon" class="bi bi-arrow-left" style="font-size: 30px"></i>
    </button>
  </div>

  <!-- Sidebar menu items -->
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a
        href="{% url 'staff_home' %}"
        class="nav-link text-dark active"
        style="font-size: 18px"
        class="nav-link text-dark"
        style="font-size: 18px"
      >
        <i
          class="bi bi-speedometer2"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-dark" style="font-size: 18px">
        <i class="bi bi-book" style="color: #0074cc; padding-right: 10px"></i>
        Add New Book
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-dark" style="font-size: 18px">
        <i
          class="bi bi-upc-scan"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        Barcode
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-dark" style="font-size: 18px">
        <i
          class="bi bi-receipt"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        Transaction
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        href="{% url 'logout_staff' %}"
        class="nav-link text-dark"
        style="font-size: 18px"
      >
        <i
          class="bi bi-box-arrow-right"
          style="color: #0074cc; padding-right: 10px"
        ></i>
        Log Out
      </a>
    </li>
  </ul>
</div>
